# Ignore everything
/*

!.gitignore
!.gitpod.yml
!.gitpod.Dockerfile
!learn.json
!README.md

!/assets
!/exercises
!/exercises/*

*.pyc
__pycache__/
.pytest_cache/

!/.breathecode
/.breathecode/**
!/.breathecode/resets
!/.breathecode/resets/**
